/*全共通*/
body{
    font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
    background-color: #f0f0f0;
}

.container_all{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

main{
    width: 87%;
    height: 100%;
    color: #4a4a4a;
    
    padding: 1% 1% 1% 1%;
}
