
/*全共通*/
body{
    font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
    background-color: beige;
}

/*ヘッダー*/
.header{
    width: 100%;
    background-color: #363636;
    color: white;
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-container{
    
}

.header-left{
    float: left;
}

.header-right{
    float: right;
    margin-right: 1%;
}